/Machine_Learning/python+opencv/tutorial_youtube/17.Deep_computer_vision(simpsons)/simpsons_data_set
Machine_Learning/python+opencv/tutorial_youtube/17.Deep_computer_vision(simpsons)/simpsons_data_set.zip
Open_cv_detect_dog_cat/Data_Set/kagglecatsanddogs_5340.zip
Open_cv_detect_dog_cat/model/dog_cat_model.h5
Open_cv_detect_dog_cat/model/dog_cat_model1.h5
