/Machine_Learning/python+opencv/tutorial_youtube/17.Deep_computer_vision(simpsons)/simpsons_data_set
Machine_Learning/python+opencv/tutorial_youtube/17.Deep_computer_vision(simpsons)/simpsons_data_set.zip
